.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }
.item6 { grid-area: nav; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu nav nav nav right right'
    'menu main main main right right'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(0, 217, 255, 0.65);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

h1 {
    text-align: center;
    color: orangered;
}

img {
  width: 500px;
  height: 400px;
}

body {
  background-image: url(img/ravintola.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 30px;
}

p {
  position: relative;
  padding: 20px;
}

input {
  padding: 10px;
}

table {
  font-family: unset;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgba(2, 163, 192, 0.65);
}

tr {
  background-color: rgba(0, 217, 255, 0.65);
}

textarea {
  padding: 60px;
}




*  {
  box-sizing: border-box;
}

@media screen and (max-width: 960px) and (min-width: 481px){
  body {
  display: grid;
  grid-template-areas:
  'header header header header header header'
  'aside nav nav nav nav nav'
  'aside article article article section section'
  'footer footer footer footer footer footer';
  grid-gap: 10px;
  background-color: yellow;
  padding: 10px;
  font-size: 16px;
  }
}

@media screen and (max-width: 480px) and (min-width: 321px){
  body {
  display: flex;
  flex-direction: column;
  background-color: #3196F3;
  padding: 3px;
  font-size: 10px;
  }

  aside {
  display: none;
  }
}

@media screen and (max-width: 320px){
  body {
  width: 320px;
  }
}
